**/bin/**
**/target/**
**/tmp/**
**/.idea/**
**/.metadata/**
**/.settings/**
**/.recommenders/**
**/RemoteSystemsTempFiles/**

**/.codemetropolis/**
**/.columbus_java/**

*.log
*.lck
*.tmp
*.bak
*.swp
*~.nib
